<div id="cv-container">
<div class="resume" id="cv-content">
  <!-- left-side -->
  <div class="left-side">
      <div class="profile">
          <div class="profile-img">
            <div *ngFor="let student of filteredStudents">
              <img src="baseAPI + student.aboutImg" alt="{{ student.firstName }} {{ student.lastName }}" class="student-image">
          </div>
         </div>

          <h1 class="name">{{ studentPortfolio.student.firstName }} {{ studentPortfolio.student.lastName }}</h1><br>
          <p class="title">{{ studentPortfolio.student.position }}</p>
      </div>
      <div class="contact padding-top-bg">
          <h1 class="heading-primary-white">Contact</h1>
          <div class="info-box padding-top-sm">
              <div class="info-title">Phone</div>
              <div class="info">
                  <a> {{ studentPortfolio.student.contacts }}</a>
              </div>
          </div>
          <div class="info-box padding-top-sm">
              <div class="info-title">Email</div>
              <div class="info">
                  <a>{{ studentPortfolio.student.email }}</a>
              </div>
          </div>
          <div class="info-box padding-top-sm">
              <div class="info-title">Address</div>
              <div class="info">{{ studentPortfolio.student.address }}</div>
          </div>
      </div>
  
      <div class="expertise padding-top-bg">
          <h1 class="heading-primary-white">Technologies</h1>
          <div *ngFor=" let studentPortfolio of studentPortfolio.skill">
              <span></span>
              <ul class="skill-name"><li>{{studentPortfolio.skillTitle}}</li></ul>
          </div>
      </div>
     
  </div>

  <!-- Right-side -->

  <div class="right-side">
      <div class="about-me padding-top-bg">
          <h1 class="heading-primary-black">About Me</h1>
          <p class="discription">
            Hello! I'm {{ studentPortfolio.student.firstName }} {{ studentPortfolio.student.lastName }}, and I live at {{ studentPortfolio.student.address }}.
            I am a student at {{ studentPortfolio.student.school }},
            currently pursuing a course in {{ studentPortfolio.student.course }}. 
            I am dedicated to both academic excellence and personal growth.
            I was born on  {{
             studentPortfolio.student.birthdate
           }}. 
           Through this portfolio, I aim to share my journey, achievements, and aspirations with you.
         </p>
 
        </div>

        <div class="experience padding-top-bg">
        <h1 class="heading-primary-black">Projects</h1>

            <div *ngFor="let studentPortfolio of studentPortfolio.project">
              <div class="xp-box padding-top-sm">
              <p class="xp-year">Created on: {{ studentPortfolio.projectDate }}</p>
              <p class="xp-company">{{ studentPortfolio.projectTitle }}</p>
            </div>
          </div>

      </div>

      <div class="experience padding-top-bg">
        <h1 class="heading-primary-black">Competitions</h1>

      <div *ngFor="let studentPortfolio of studentPortfolio.accomplishment">
        <div class="xp-box padding-top-sm">
            <p class="xp-year">Created on: {{studentPortfolio.accomDate}}</p>
            <p class="xp-company">{{studentPortfolio.accomTitle}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="Download">
  <a href="{{ studentPortfolio.cvLink }}" target="_blank">Download CV as PDF</a>
  <button (click)="downloadCV($event, studentPortfolio.studentID)">Download CV</button>
</div>
</div>