<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="accomplishments.component.css">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

	<title>Student Dashboard</title>
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a class="brand">
			<!-- <i class='bx bxl-firebase'></i> -->
			<img src="../../assets/icons/Unfold Logo.png" width="40px" height="40px" alt="">
			<span class="text">UNFOLD</span>
		</a>
		<ul class="side-menu top">
			<li >
				<a routerLink="/Home">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li *ngIf="userDetails.is_admin === 0">
				<a routerLink="/portfolio">
					<i class='bx bx-folder-open' ></i>
					<span class="text">Projects</span>
				</a>
			</li>
			<li *ngIf="userDetails.is_admin === 0">
				<a routerLink="/skills">
					<i class='bx bx-bulb' ></i>
					<span class="text">Technologies</span>
				</a>
			</li>
			<li class="active" *ngIf="userDetails.is_admin === 0">
				<a routerLink="/accomplishments">
					<i class='bx bx-trophy' ></i>
					<span class="text">Competitions</span>
				</a>
			</li>
			<li *ngIf="userDetails.is_admin === 0">
				<a routerLink="/aboutme">
					<i class='bx bx-user' ></i>
					<span class="text">About Me</span>
				</a>
			</li>
			<li *ngIf="userDetails.is_admin === 0" >
				<a routerLink="/contact">
					<i class='bx bxs-contact' ></i>
					<span class="text">Contacts</span>
				</a>
			</li>
			<li *ngIf="userDetails.is_admin === 0" >
				<a routerLink="/design">
					<i class='bx bxs-paint' ></i>
					<span class="text">Design</span>
				</a>
			</li>
			<li *ngIf="userDetails.is_admin === 1" >
				<a routerLink="/faculty">
					<i class='bx bxs-user' ></i>
					<span class="text">Faculty</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a routerLink="/login" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<div style="display: flex;">

			
				<a *ngIf="userDetails.is_admin === 0" routerLink="/viewport/{{userDetails.studentID}}'" class="nav-link">Portfolio</a>
				<a *ngIf="userDetails.is_admin === 0" routerLink="/newsfeed" class="nav-link">Portfolio Feed</a>
			</div>
			<!-- STUDENT -->
			<div *ngIf="userDetails.is_admin === 0"  class="profile" (click)="toggleDropdown($event)">
				<b style="margin-right: 10px;" class="user-details">
				  {{ userDetails.firstName }} {{ userDetails.lastName }}
				</b>
				<img class="prof-icon" *ngIf="userDetails.is_admin === 0" width="60" height="60" [src]="baseAPI + studentPortfolio.about[0].aboutImg" alt="">
				
				<!-- Dropdown Menu -->
				<div class="dropdown-menu" [class.show]="isDropdownVisible" (click)="$event.stopPropagation()">
				  <ul>
					<li><a routerLink="/login">Logout</a></li>
					<li><a (click)="routeToEditProfile( userDetails.studentID)">Edit Profile</a></li>
					<!-- <button style="background-color: #f8955e; border:1px solid #f5652f; margin-top: 10px;" class="btn btn-primary" (click)="routeToEditProfile( userDetails.studentID)">
					  Edit Profile
				  </button> -->
				  </ul>
				</div>
			  </div>
	  
	  
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Competitions Dashboard</h1>
					
					<!-- Button trigger modal -->
					<button (click)="routeToCreateAccomplishment()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Upload a New Competition</button>
  
						 

				</div>
			</div>

			<!-- <ul class="box-info">
				<li>
					<i class='bx bx-terminal' ></i>
					<span class="text">
						<h3>83</h3>
						<p>BSIT</p>
					</span>
				</li>
				<li>
					<i class='bx bx-code-block' ></i>
					<span class="text">
						<h3>65</h3>
						<p>BSCS</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-devices' ></i>
					<span class="text">
						<h3>58</h3>
						<p>BSEMC</p>
					</span>
				</li>
				<li>
					<i class='bx bx-laptop' ></i>
					<span class="text">
						<h3>36</h3>
						<p>ACT</p>
					</span>
				</li>
			</ul> -->


			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>List of Competitions</h3>
						<i class='bx bx-search' ></i>
						<i class='bx bx-filter' ></i>
					</div>
					<table>
						<thead>
							<tr>
								<th>ID</th>
								<th>Image</th>
								<th>Title</th>
								<th>Description</th>
								<th>Date</th>
								<th>Link</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor=" let studentPortfolio of studentPortfolio.accomplishment ">
								<td>{{studentPortfolio.accomID}}</td>
								<td> <img [src]="baseAPI + studentPortfolio.accomImg" alt=""></td>
								<td>{{studentPortfolio.accomTitle}}</td>
								<td>{{studentPortfolio.accomDesc}}</td>
								<td>{{studentPortfolio.accomDate}}</td>
								<td><a target="_blank" href="{{studentPortfolio.accomLink}}">{{studentPortfolio.accomLink}}</a></td>
							
								<td>
									<button style="margin-right: 5px;" href="" class="btn btn-ed" (click)="routeToEditAccomplishment(studentPortfolio.accomID)" >Edit</button>
									<button href="" class="btn btn-del" (click)="deleteAccomplishment(studentPortfolio.accomID)" >Delete</button>
								</td>
								<!-- <td>{{studentPortfolio.projectImg}}</td> -->
							</tr>
							
						</tbody>
					</table>
				</div>
				
			</div>
		</main>
		<!-- MAIN -->

		

	

	</section>
	<!-- CONTENT -->
	


	<script src="script.js"></script>
</body>
</html>