<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- --------- UNICONS ---------- -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
   
    <!-- --------- CSS ---------- -->
  

    <!-- --------- FAVICON ---------- -->
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">

    <!-- ----- TYPING JS Link ----- -->
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

    <!-- ----- SCROLL REVEAL JS Link----- -->
    <script src="https://unpkg.com/scrollreveal"></script>
 
    <!-- ----- MAIN JS ----- -->
    <script defer src="/src/assets/app.js"></script>

    <title>Portfolio</title>

    <style>
        nav#header{
          background-color: #333;
        }
    </style>
</head>
<body style="height: auto;">
   <div class="container" >
      <!-- --------------- HEADER --------------- -->
      <nav id="header" >
        <div class="nav-logo">
            <p class="nav-name">Unfold</p>
            <span>.</span>
        </div>

        <div class="nav-menu" id="myNavMenu">
          <ul class="nav_menu_list dash">
            <li *ngIf="userDetails.is_faculty === 0 || userDetails.is_admin === 0" class="nav_list ">
                <a routerLink="/leaderboard" id="portfolio"  class="nav-link">Portfolio Spotlight</a>
                <div class="circle"></div>
            </li>
            <!-- <li *ngIf="userDetails.is_faculty === 0 || userDetails.is_admin === 0" class="nav_list ">
                <a routerLink="/leaderboardapprove" id="portfolio"  class="nav-link">Portfolio Most Approved</a>
                <div class="circle"></div>
            </li> -->
              <li *ngIf="userDetails.is_faculty === 0 || userDetails.is_admin === 0" class="nav_list">
                  <a  routerLink="/portfolio" class="nav-link active-link" id="dash">Dashboard</a>
                  <div class="circle"></div>
              </li>
              <li *ngIf="userDetails.is_admin === 1" class="nav_list">
                  <a  routerLink="/Home" class="nav-link active-link" id="dash">Dashboard</a>
                  <div class="circle"></div>
              </li>

              <!-- FACULTY -->
              <li *ngIf="userDetails.is_faculty === 1" class="nav_list">
                <a routerLink="/leaderboard" id="portfolio"  class="nav-link">Portfolio Spotlight</a>
                  <div class="circle"></div>
              </li>
              <li *ngIf="userDetails.is_faculty === 1" class="nav_list">
                <a routerLink="/projectfeed" id="portfolio" style="color: #ee8d59;"  class="nav-link">Projects feed</a>
                  <div class="circle"></div>
              </li>
              <li *ngIf="userDetails.is_faculty === 1" class="nav_list">
                <a routerLink="/newsfeed" id="portfolio"   class="nav-link">Student feed</a>
                  <div class="circle"></div>
              </li>
              <!-- FACULTY -->
              <!-- <li *ngIf="userDetails.is_faculty === 0 || userDetails.is_admin === 0" class="nav_list feed">
                  <a  routerLink="/newsfeed" class="nav-link" id="feed">Portfolio feed</a>
                  <div class="circle"></div>
              </li> -->
              <li *ngIf="userDetails.is_faculty === 0 || userDetails.is_admin === 0" class="nav_list ">
                  <a routerLink="/viewport/{{userDetails.studentID}}'" id="portfolio"  class="nav-link">My Portfolio</a>
                  <div class="circle"></div>
              </li>
          </ul>
        </div>
        <!-- STUDENT -->
        <div *ngIf="userDetails.is_admin === 0"  class="profile" (click)="toggleDropdown($event)">
          <b style="margin-right: 10px;" class="user-details">
            {{ userDetails.firstName }} {{ userDetails.lastName }}
          </b>
          <img class="prof-icon" *ngIf="userDetails.is_admin === 0" width="60" height="60" [src]="baseAPI + studentPortfolio.about[0].aboutImg" alt="">
          
          <!-- Dropdown Menu -->
          <div class="dropdown-menu" [class.show]="isDropdownVisible" (click)="$event.stopPropagation()">
            <ul>
              <li><a routerLink="/login">Logout</a></li>
              <li><a (click)="routeToEditProfile( userDetails.studentID)">Edit Profile</a></li>
              <!-- <button style="background-color: #f8955e; border:1px solid #f5652f; margin-top: 10px;" class="btn btn-primary" (click)="routeToEditProfile( userDetails.studentID)">
                Edit Profile
            </button> -->
            </ul>
          </div>
        </div>

        <!-- ADMIN -->
        <div *ngIf="userDetails.is_admin === 1"  class="profile" (click)="toggleDropdown($event)">
          <b style="margin-right: 10px;" class="user-details">
            {{ userDetails.firstName }} {{ userDetails.lastName }}
          </b>
          <img class="prof-icon" *ngIf="userDetails.is_admin === 1" width="60" height="60" [src]="baseAPI + studentPortfolio.about[0].aboutImg" alt="">
          
          <!-- Dropdown Menu -->
          <div class="dropdown-menu" [class.show]="isDropdownVisible" (click)="$event.stopPropagation()">
            <ul>
              <li><a routerLink="/login">Logout</a></li>
            </ul>
          </div>
        </div>

        <!-- FACULTY -->
        <div *ngIf="userDetails.is_faculty === 1"  class="profile" (click)="toggleDropdown($event)">
          <b style="margin-right: 10px;" class="user-details">
            {{ userDetails.facFirstname }} {{ userDetails.facLastname }}
          </b>
          <img  *ngIf="userDetails.is_faculty === 1" class="prof-icon"  width="50" height="50" [src]="baseAPI + this.userDetails.facImg" alt="">
          
          <!-- Dropdown Menu -->
          <div class="dropdown-menu" [class.show]="isDropdownVisible" (click)="$event.stopPropagation()">
            <ul>
              <li><a routerLink="/login">Logout</a></li>
              <li><a (click)="routeToFacSecurity( userDetails.facID)">Security</a></li>
            </ul>
          </div>
        </div>
        
        
        <!-- <a class="profile">
			  <b style="margin-right: 10px;" class="user-details"
			  >{{ userDetails.firstName }} {{ userDetails.lastName }}</b>
		 <img *ngIf="userDetails.is_admin === 0" width="60" height="60"  [src]="baseAPI + studentPortfolio.about[0].aboutImg" alt="">
		  </a> -->
      <!-- <div class="nav-button">
        <button class="btn"><a style="text-decoration: none; color: black;" routerLink="/login">Logout</a></button>
    </div> -->
        <div class="nav-menu-btn">
            <i class="uil uil-bars" onclick="myMenuFunction()"></i>
        </div>

         <!-- Search and Filter Container -->
         <div class="search-filter-container">
          <div class="search-container">
              <input type="text" class="search-input" placeholder="Search..." [(ngModel)]="searchTerm"
                  (input)="filterStudents()">
              <button class="search-button"><i class="uil uil-search"></i></button>
          </div>

          <!-- Filter Dropdown -->
          <div  class="filter-container">
              <select [(ngModel)]="selectedCategory" (change)="filterStudents()" name="filter" id="filter">
                  <option value="">All</option>
                  <option value="bsit">BSIT</option>
                  <option value="bscs">BSCS</option>
                  <option value="bsemc">BSEMC</option>
                  <option value="act">ACT</option>
              </select>
          </div>
      </div>
      </nav>
   </div>
   
  

   
  <main  style="width: 100%;background-color: #fae7c8;; height: auto; display: flex; justify-content: center; " class="wrapper">
          

  <!--Section: Newsfeed-->
<section class="newsfeed">
    <div  style="margin-top: 120px; padding-bottom: 40px; " class="project-container">
        <!-- Project 1 -->
        <div *ngFor="let student of studentProjects;" class="card project-card">
            <div class="card-body">
                <!-- Data -->
                <div class="d-flex mb-3">
                    <a>
                        <img [src]="baseAPI + student.aboutImg" class="border rounded-circle me-2" alt="Avatar" style="height: 40px" />
                    </a>
                    <div>
                        <a class="text-dark mb-0" style="text-decoration: none;">
                            <strong>{{student.studentName}}</strong>
                        </a>
                        <a class="text-dark mb-0" style="text-decoration: none;">
                            <strong>{{student.course}}</strong>
                        </a>
                        <a class="text-muted d-block" style="margin-top: -6px; text-decoration: none;">
                            <small>{{student.studentPosition}}</small>
                          </a>
                        <a class="text-muted d-block" style="margin-top: -6px; text-decoration: none;">
                            <small>{{student.projectDate}}</small>
                          </a>
                        <a class="text-muted d-block" style="margin-top: -6px; text-decoration: none;">
                            <small>DITO MO LAGAY PROJECT TYPE</small>
                          </a>
                    </div>
                </div>
                <!-- Description -->
                <div>
                    <p>
                       {{student.projectDesc}}
                    </p>
                </div>
            </div>
            <!-- Media -->
            <div class="bg-image hover-overlay ripple rounded-0" data-mdb-ripple-color="light">
                <img [src]="baseAPI + student.projectImg" class="w-100" />
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                </a>
            </div>
        </div>

        

       
        
    </div>
</section>
<!--Section: Newsfeed-->

    </main>
   <script>
       function myMenuFunction() {
           var menu = document.getElementById("myNavMenu");
           if (menu.style.display === "block") {
               menu.style.display = "none";
           } else {
               menu.style.display = "block";
           }
       }
   </script>
</body>
</html>